.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-title {
  background-color: #ff6060;
  border-radius: 10px;
  cursor: pointer;
  padding-right: 1rem;
}

.dropdown-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  z-index: 30;
}

.dropdown-title h2 {
  color: white;
  margin-bottom: 0;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 500;
}

@keyframes rotateArrowOpen {
  0% {
    transform: rotate(0);
    transform-origin: center;
  }
  100% {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

@keyframes rotateArrowClose {
  0% {
    transform: rotate(180deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(0);
    transform-origin: center;
  }
}

.dropdown-arrow {
  width: auto;
  height: 14px;
}

.animate-arrow-open {
  animation: rotateArrowOpen 0.5s;
  animation-fill-mode: forwards;
}

.animate-arrow-close {
  animation: rotateArrowClose 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content {
  display: flex;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 10px;
  z-index: 0;
}

.dropdown-text {
  padding: 1.5rem 1.2rem;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.animate-open-text {
  animation: slideIn 0.3s;
}

.dropdown-content span li {
  line-height: 1.5;
}
