/* ------------------------------------------------------------------------------------------------- */
/* -------------------------------------------RESET CSS--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

/* ------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------GENERAL--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1140px;
  margin: auto;
  font-family: "Monserrat", sans-serif;
  height: 100%;
}

.page {
  min-height: 100vh;
}

main {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  margin: 0 100px;
}

a {
  text-decoration: none;
  color: #ff6060;
}

p {
  color: #ff6060;
  line-height: 1.7;
}

ul {
  list-style: none;
  color: #ff6060;
}

li {
  line-height: 2.2;
  color: #ff6060;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #ff6060;
}

span,
div {
  color: #ff6060;
}

/* ------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------BANNER--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

span {
  text-decoration: none;
  line-height: 2.2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 1rem auto;
  box-sizing: content-box;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu span {
  font-size: 24px;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  /* text-decoration-line: underline; */
}

.header span:hover {
  cursor: pointer;
}

header span:visited {
  text-decoration: underline;
}

.logo img {
  height: 65px;
  width: auto;
}

.link-active {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}

/* ------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------HOME--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

.home {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.home-banner,
.apropos .image-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-banner {
  height: 230px;
  width: 100%;
  margin: 2rem auto;
}

.image-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}

.slogan-banner {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
  font-weight: 500;
}

.gallery {
  max-width: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-top: 2rem;
  background: #f6f6f6;
  border-radius: 25px;
  padding: 3rem 3rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.gallery-item::after {
  z-index: 20;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 0.4;
  border-radius: 10px;
}

.gallery-item img {
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}

.gallery-item span {
  z-index: 50;
  position: absolute;
  color: white;
  width: 150px;
  padding-left: 0.5rem;
  font-size: 18px;
}

/* ------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------ERROR--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

.error {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5rem auto;
}

.error img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.error span {
  font-weight: 500;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.error p {
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------FICHE--------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

.container-slider {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: 1s;
  border-radius: 25px;
}

.nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  z-index: 50;
  height: 80px;
  width: auto;
  cursor: pointer;
  user-select: none;
}

.fiche-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fiche-header-title {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.fiche-header-title h1 {
  font-size: 36px;
  font-weight: 500;
}

.fiche-header-title p {
  font-size: 18px;
  font-weight: 500;
}

.fiche-proprio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.fiche-proprio p {
  font-weight: 500;
  font-size: 18px;
  margin-right: 0.5rem;
  overflow-wrap: break-word;
  max-width: min-content;
}

.fiche-proprio img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.fiche-resume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.fiche-resume-motsclefs ul {
  display: flex;
  flex-direction: row;
}

.fiche-resume-motsclefs li {
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: #ff6060;
  min-width: 5rem;
  text-align: center;
  padding: 0 2rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.ratting-star {
  width: 24px;
  height: 24px;
  padding-left: 1rem;
}

/* ------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------DROPDOWN------------------------------------------ */
/* ------------------------------------------------------------------------------------------------- */

.fiche-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  width: 100%;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-title {
  background-color: #ff6060;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.dropdown-title h2 {
  color: white;
  margin-bottom: 0;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-title img {
  width: auto;
  height: 14px;
  padding-right: 1rem;
}

.dropdown-content {
  display: flex;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.dropdown-content span {
  padding: 1.5rem 1.2rem;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.dropdown-content span li {
  line-height: 1.5;
}

/* ------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------A PROPOS------------------------------------------ */
/* ------------------------------------------------------------------------------------------------- */

.apropos {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  font-size: 24px;
}

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apropos-container .dropdown {
  width: 90%;
  margin: 1rem auto;
}

.apropos-container .dropdown-content,
.apropos-container .dropdown-title h2 {
  font-size: 24px;
  font-weight: 400;
}

.apropos-container .dropdown-content span {
  font-size: 24px;
}

/* ------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------FOOTER------------------------------------------ */
/* ------------------------------------------------------------------------------------------------- */

.footer {
  width: 100%;
  height: 10rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.footer span {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0.5rem auto;
}

.footer img {
  height: 35px;
  width: auto;
}

@media (max-width: 600px) {
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
